<%- include('templates/header',{tituloweb:'Error 404',value:3})%>

  <body>
    <h1>
      <%= titulo %>
    </h1>
    <h2>
      <%= message %>
    </h2>

    <%- include('templates/footer' ,{tituloweb:"Child go Home",value:3})%>