<%- include('templates/header',{tituloweb:"Child go Home",value:2})%>
<style>
  /* Modifica el cuerpo */
  body {
    background-image: url('images/recursos/fondo.png'); /* Es para elegir el fondo */
  }
</style>
<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item">
      <img src="../images/fliyers/1.png" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
    </div>
    <div class="carousel-item active">
      <img src="../images/fliyers/2.png" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
    </div>
    <div class="carousel-item">
      <img src="../images/fliyers/3.png" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="../visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="../visually-hidden">Next</span>
  </button>
</div>
<div class="container">
  <h1 class="mb-4">Grados Academicos</h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <img src="images/fliyers/36.png" class="d-block w-100">
        <div class="card-body">
          <h5 class="card-title">PRIMERO</h5>
          <p class="card-text">SECUNDARIA</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="/regsalon" class="btn btn-primary btn-block"><samp
                class="glyphicon glyphicon-shopping-cart"> </samp> Agregar Salon
              </a>
            </div>
          <div>
            <a href="/listasalon" class="btn btn-warning">Ver Salones</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Segundo contenedor -->
  <div class="col">
    <div class="card shadow-sm">
      <img src="images/fliyers/37.png" class="d-block w-100">
        <div class="card-body">
            <h5 class="card-title">SEGUNDO</h5>
            <p class="card-text">SECUNDARIA</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="/regsalon" class="btn btn-primary btn-block"><samp
                  class="glyphicon glyphicon-shopping-cart"> </samp> Agregar Salon
                </a>
              </div>
            <div>
              <a href="/listasalon" class="btn btn-warning">Ver Salones</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Tercer contenedor -->
    <div class="col">
      <div class="card shadow-sm">
        <img src="images/fliyers/38.png" class="d-block w-100">
        <div class="card-body">
          <h5 class="card-title">TERCERO</h5>
          <p class="card-text">SECUNDARIA</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="/regsalon" class="btn btn-primary btn-block"><samp
                class="glyphicon glyphicon-shopping-cart"> </samp> Agregar Salon
              </a>
            </div>
          <div>
            <a href="/listasalon" class="btn btn-warning">Ver Salones</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<%- include('templates/footer' ,{tituloweb:"Child go Home",value:2})%>