<%- include('templates/header',{tituloweb:"Child go Home",value:4})%>
<style>
  /*Modifica el cuerpo*/
  body {
    background-image: url('/images/recursos/fondo.png');/*Es para elegir el fondo*/  
  }
  /*Es para el texto del formulario*/
  .container{
    text-align: left; /* Alinea el texto a la izquierda */
    font-weight: bold; /* Hace que el texto sea negrito */
  }
</style>
<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item">
      <img src="../images/fliyers/1.png" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
    </div>
    <div class="carousel-item active">
      <img src="../images/fliyers/2.png" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
    </div>
    <div class="carousel-item">
      <img src="../images/fliyers/3.png" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="../visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="../visually-hidden">Next</span>
  </button>
  <br><br>
  <div class="container" id="main">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <a href="index.php" class=" btn btn-primary">Regresar</a>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <fieldset>
          <legend>Listado de Tutores</legend>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Cliente</th>
                <th>N°. Pedido</th>
                <th>Total</th>
                <th>Fecha</th>
                <th class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-center">
                  <a href="pedidos/ver.php?ID=<?php print $item['ID'] ?>" class="btn btn-danger btn-sm">Detalles</a>
                </td>
              </tr>
              <tr>
                <td colspan="6">NO HAY REGISTROS</td>
              </tr> 
            </tbody>
          </table>
        </fieldset>
      </div>
    </div>
  </div>
<%- include('templates/footer' ,{tituloweb:"Child go Home",value:2})%>